<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamesourcecode"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.gamesourcecode.home.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation = "portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.gamesourcecode.game.GameActivity"
            android:label="@string/app_name"
            android:screenOrientation = "portrait" >
            <intent-filter>
                <action android:name="com.gamesourcecode.game.GAMEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.gamesourcecode.startgame.StartGameActivity"
            android:label="@string/app_name"
            android:screenOrientation = "portrait" >
            <intent-filter>
                <action android:name="com.gamesourcecode.startgame.STARTGAMEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.gamesourcecode.gameoverview.GameOverviewActivity"
            android:label="@string/app_name"
            android:screenOrientation = "portrait" >
            <intent-filter>
                <action android:name="com.gamesourcecode.gameoverview.GAMEOVERVIEWACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.gamesourcecode.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation = "portrait" >
            <intent-filter>
                <action android:name="com.gamesourcecode.login.LOGINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.gamesourcecode.register.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation = "portrait" >
            <intent-filter>
                <action android:name="com.gamesourcecode.register.REGISTERACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>